<div class="alert alert-success">
  <strong>Number of unique products in store : </strong> <%=@products_count%></div>
<div>

<div class="alert alert-success">
<strong>Number of product categories : </strong> <%=@categories_count%></div>
</div>

